.main_chat
  .group
    .group__group_data.group_data
      .group_data__group_name
        = @group.name
      .group_data__group_member
        Member : 
        - @group.users.each do |user|
          = user.name
    .group__edit_btn.edit_btn
      =link_to edit_group_path(@group.id), class:"edit_btn__btn" do
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .form__form_box.form_box
        .form_box__inputs.inputs
          = f.text_field :body, class: 'inputs__message', placeholder: 'type a message'
          = f.label :image, class: 'inputs__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'submit_btn'