.side_bar
  .user_data
    .user_data__names.names 
      .names__name
        =current_user.name
      .names__icon
        = link_to new_group_path, class: "names__icon--left" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "names__icon--right" do
          = icon("fas", "cog")
  .group_lists
    - current_user.groups.each do |group|
      .group_lists__list.list
        = link_to group_messages_path(group), class: 'list__link' do
          .list__group_name
            = group.name
          .list__new_message
            = group.show_last_message